.Header {
  background: $header-bgd;
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    &--logo {
      max-width: 200px;
      max-height: 70px;
      @include media(mobile) {
        max-width: 150px;
        max-height: 50px;
      }
    }
    a {
      text-decoration: none;
      color: $color-a;
      @include media(mobile) {
        font-size: 14px;
      }
    }
    img {
      width: 100%;
    }
  }
}
