.Search {
  padding: 2em;
  text-align: center;
  animation: cards 0.8s linear;
  @include media(mobile) {
    padding: 1em;
  }
  &__title {
    font-weight: 600;
    /* font-size: 2.5em; */
  }
  &__form {
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    @include media(mobile) {
      margin: 0.8em 0;
    }
    input {
      width: 50%;
      height: 30px;
      padding: 0 1em;
      margin-right: 1em;
      border: 1px solid #dfe1e5;
      border-radius: 14px;
      outline: none;
      &:hover {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
      }
    }
    &-btn {
      @include btn;
      background: $bgd-search;
      color: $color-a;
      cursor: pointer;
      &:hover {
        background: $bgd-search-hover;
      }
    }
  }
  &__details {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 1em;
    @include media(tablet) {
      width: 450px;
      height: 250px;
    }
    @include media(mobile) {
      width: 350px;
      height: 250px;
    }
    &-header {
      width: 100%;
      height: 70px;
      border-radius: 10px 10px 0 0;
      background: $bgd-search-poke;
      @include media(tablet) {
        height: 60px;
      }
      @include media(mobile) {
        height: 50px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      &-show {
        padding-bottom: 1em;
        animation: cards 0.8s linear;
        &-image {
          height: 90px;
          @include media(tablet) {
            height: 80px;
          }
          @include media(mobile) {
            margin-bottom: 0.5em;
          }
        }
        &-name {
          margin-bottom: 1em;
          height: 50px;
          @include media(tablet) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
    &-btn {
      @include btn;
      background: $bgd-search;
      color: $color-a;
      background: #8a8888;
      cursor: pointer;
    }
  }
}
